* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../assets/images/twitter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background: #fff;
  color: #1da1f2;
  font-size: 30px;
  text-align: center;
}

.box-1 {
  background: linear-gradient(transparent, #D5DBDB);
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  padding-top: 90px;
  position: fixed;
  transform: translateY(220px);
  margin-left: 4%;
  height:270px;
  text-align: center;
  width: 270px;
}

h3 {
  font-weight: bold;
  color:#fff;
}

.box-2 {
  background: linear-gradient(left, transparent, #D5DBDB);
  box-sizing: border-box;
  display: inline-block;
  margin-top: 3%;
  margin-left: 5%;
  width: 40%;
}

#container-msg {
  float: right;
  width: 200px;
  height: auto;
  transform: translateY(-50px);
}

#msg {
  border-radius: 7px;
  outline: none;
  height: 100px;
  width: 250px;
  height: auto;
  padding: 8px;
  resize: none;
  overflow: hidden;
}

.btn-active {
  background: #1da1f2;
  color: #fff;
  border-style: none;
  border-radius: 15px;
  margin: 7px;
  outline: none;
  padding: 7px 14px;
}

.btn-inactive {
  background: #F2F3F4;
  color: #99A3A4;
  border-style: none;
  border-radius: 15px;
  margin: 7px;
  outline: none;
  padding: 7px 14px;
}

#counter {
  outline: none;
  border-radius: 7px;
  border-style: none;
  font-weight: bold;
  font-size: 16px;
  margin-right: 22%;
  text-align: center;
  width: 30px;

}

.paragraph {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #FFF;
  padding: 3px;
  margin-bottom: 7px;
  word-wrap: break-word;
}